/* --- About Me Page Styles --- */

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    margin:auto;
    max-width: 600px;
}

.main-content {
    flex: 1;
    margin-bottom: auto;
    align-items: center;
    display: grid;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
}

.about-me-content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
}

.about-me-section {
    margin: auto;
    margin-top: 0;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.main-content .thin-border {
    min-height: 1px;
    min-width: 1px;
}
.main-content .thin-border:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 300px;
    margin: 80px 0px;
    background-color: #d9dad9;
}

.about-me-section img {
    margin:60px;
    width:auto;
    height:auto;
    max-width:500px;
}

@media (max-width:768px) {
    .about-me-content {
        width: 100%;
    }
    .about-me-section img {
        max-width:250px;
        margin:50px;
    }
    .about-me-text {
        max-width:90%;
        width:auto;
        margin:50px;
        margin-top:0;
    }
}
